<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true"
         stopOnFailure="false"
         processIsolation="false"
         backupGlobals="false"
         syntaxCheck="true"
>
    <testsuite name="OsdCrypt Test Suite">
        <directory>.</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">.</directory>
        </whitelist>
    </filter>
    
    <logging>
        <log type="coverage-text" target="php://stdout"/>
        <log type="coverage-clover" target="../build/logs/clover.xml"/>
    </logging>
</phpunit>
